html {
  font-size: 1.2em;
}
body {
  margin: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: auto;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mono {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 0.9rem;
}
h1,
h3 {
  font-weight: normal;
}

#title {
  margin-top: 2rem;
  display: flex;
}
#title #logo {
  margin-right: 1rem;
}

#logo svg {
  width: 100px;
  height: 100px;
  transform: translateY(-50%);
}

#title span {
  flex: 1;
  font-size: 1.8rem;
  line-height: 48px;
}

#subtitle {
  font-size: 1.3rem;
  font-style: italic;
}

#random {
  display: flex;
}

#random input {
  margin: 0;
  width: 500px;
}

#random button {
  display: flex;
  align-items: center;
  justify-content: center;
}
